<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package_mapper}.${Table}Mapper">

    <resultMap id="${Table}ResultMap" type="${package_pojo}.${Table}">
        <#list models as model>
        <#if model.id==true><id column="${model.column}" jdbcType="<#if model.simpleType=='Long'>BIGINT</#if><#if model.simpleType=='String'>VARCHAR</#if><#if model.simpleType=='Integer'>INTEGER</#if><#if model.simpleType=='Date'>TIMESTAMP</#if>" property="${model.name}"/></#if>
        <#if model.id==false><result column="${model.column}" jdbcType="<#if model.simpleType=='Long'>BIGINT</#if><#if model.simpleType=='String'>VARCHAR</#if><#if model.simpleType=='Integer'>INTEGER</#if><#if model.simpleType=='Date'>TIMESTAMP</#if>" property="${model.name}"/></#if>
        </#list>
    </resultMap>


    <sql id="${Table}Fields">
    <#list models as model> ${TableName}.${model.column},
    </#list>
    </sql>

</mapper>


